@CHARSET "UTF-8";

/*------------------------------------------------------------------
[About Stylesheet]

Project:		Shared Rides
Last change:	24/08/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/

h3, .block-half{
	text-align: center;
}

h3{
	margin-bottom:	5%
}

.about-pic{
	border-radius:	100px;
	width:			150px;
	height:			150px;
}

.about-name{
	line-height: 	4em
}

span{
}

.advan-pic{
	width:			110px;
	height:			110px;
	margin-bottom:	2%;
}

.advantages{
	width:				100%;
	margin-top:			5%;
	padding:			2% 0%;
	background-color: 	#FAFAFA;
}

.block-third{
	text-align:		center;
	width:			33.2%;
	float:			left
}