/*------------------------------------------------------------------
[Login Stylesheet]

Project:		Shared Rides
Last change:	19/06/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/


/*-----------------------------------------------------------------*/

#i18n{
	box-shadow:				0px 1px 1px #000000;
	background-color: 		rgba(0, 0, 0, 0.7);	
	float: 					right;
	padding:				0px 2px;
	text-align:				center;
}

#theLogin
{
	background-color: 	rgba(0, 0, 0, 0.7);	
	color:				#EEEEEE;
	margin:				0 auto;
	width: 				30%;
	padding:			2% 10%;
	font-family: 		'Open Sans', sans-serif;
}

.theInputs{
	border:					solid 1px Grey; 	
	height:					25px;
	margin-top:				20px;
	width:					100%;
}	

#btnLogin{
	margin-top:				40px;	
}	
