/*------------------------------------------------------------------
[Main Menu Stylesheet]

Project:		Shared Rides
Last change:	21/08/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Multistepform /]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navigation Steps / #navSteps]
------------------------------------------------------------------*/

#navSteps {
	background:				-moz-linear-gradient(top, #90AA44, #50A410);
	background:				-webkit-linear-gradient(top, #90AA44, #50A410);
	margin:					20px 0 0 0;	
	padding-top:			10px;
	text-align:				center;
	top:					0;
	width:					100%;
	z-index:				1000;
}
	#navSteps li {
		display:			inline-block;
		height:				30px;
		list-style-type:	none;
		width:				33%;
		
	}
	#navSteps li a:active { 
		background-color:	black; 
	}
	
#steps {
	display:				inline;
}

#buttonsSteps {
	clear:					both;
	margin-top:				30px;
	position:				relative;
	text-align:				center;
	width:					100%;
}

.imagesSteps {
	width: 					175px;
	opacity:				1;
	cursor:					pointer;
	
	-webkit-transition: 	opacity 0.2s ease-out;  	
    -moz-transition: 		opacity 0.2s ease-out;  
    -o-transition: 			opacity 0.2s ease-out;  	
    transition: 			opacity 0.2s ease-out;
}

#steps {
	margin: 				10px 0px 0px 210px
}

#imgBoot, #imgSun {
	margin-right:			130px;
}

.theDialog{
	font-size:				80%;
}

.alerts {
	border:					solid #CFCFCF 1px;
	box-shadow:         	0 1px 2px #D1D1D1;
	margin:					0 auto;
	margin-top: 			20px; 	
	width:					60%;
	padding:				3%
}

.alerts img {
	position: 				relative; 
	left: 					55%; 
	width:					55px;
	height: 				50px;
}

/*------------------------------------------------------------------
[Starting Conditions]
------------------------------------------------------------------*/

#btnBack, #btnOK, #btnDefault, .alerts, #imgSun, #imgMoon, #listFound, .theDialog {
	display:	none;
}

#btnDefault, #btnOK{
	margin-left: 60px
}

#btnDefault{
	width:		200px;
}

/*------------------------------------------------------------------
[Tables / ]
------------------------------------------------------------------*/

#listFound {
	width:					100%;
    height:					100%;
}

#tableFound {
	margin:					0 auto;
}

.tableUsers {
	font-family: 			'Raleway-Thin', sans-serif;	
}

.tableUsers th {
	background:				-moz-linear-gradient(top, #FAFAFA, #EEE);
	background:				-webkit-linear-gradient(top, #FAFAFA, #EEE);
	padding:				20px 25px 25px 25px;
	border-bottom:			1px solid #e0e0e0;
}

.tableUsers img {					
	width: 					100px;
	height:					110px;
}

/*------------------------------------------------------------------
[Tooltip / OVERRIDE ]
------------------------------------------------------------------*/

.ui-tooltip, .arrow:after {
	background-color: 	#F0F0F0;
 	border: 			2px solid #fafafa;	
}

.ui-tooltip {
	box-shadow: 		.2px .75px 4px #999;
}	

