/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Shared Rides
Last change:	04/10/2013
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Layout]
-------------------------------------------------------------------*/

*
{
	font-family: 			'Raleway', sans-serif;
	margin:					0px;
	padding:				0px;	
}

html{
	height:					100%;
}

a
{
	text-decoration:		none;
}

body
{
	font-weight:			normal;
	text-shadow: 			0 1px 1px rgba(0,0,0,.2);
	height:					100%;
}

.hrs
{
	background:				black;
	border: 				0; 
	height: 				1px; 
	margin-top:				25px; 
	margin-bottom:			30px; 
	text-align: 			center; 
}

.tupper
{
	position:				relative;
	margin:					0 auto;
	width:					960px;
}

.mini
{
	width:					750px;
}

.theBox
{
	box-shadow:				1px 1px 1px #000000;
	color:					Black;
	border:					solid 1px; 	
}

/*------------------------------------------------------------------
[Content / #content]
------------------------------------------------------------------*/

#theContent
{
	background-image:		url(../images/txture4.jpg); 
	clear:					both;
	height:					auto;
	margin:					0 auto;
	margin-top:				40px;
	min-height:				100%;
	padding:				50px 0px;
	padding-bottom: 		2em;
	width:					100%; 
}


/*------------------------------------------------------------------
[Footer / #theFooter]
-------------------------------------------------------------------*/
#theFooter
{
	background-image:		url(../images/txture.png);
	clear:					both;
	color:					white;
	font-size:				80%;
	height:					4em;	
	margin-top: 			-2em;
	padding:				3em 0em; 
	position: 				relative;
	text-align:				center;
	width:					100%;
 	z-index: 				10;
}

/*------------------------------------------------------------------
[Navigation / #nav]
------------------------------------------------------------------*/

#nav
{
	background:				-moz-linear-gradient(top, #90AA44, #50A410);
	background:				-webkit-linear-gradient(top, #90AA44, #50A410);
	overflow:				auto;
	position:				fixed;
		top:					0;
	width:					100%;
	z-index:				2000;
}
	#nav li
	{
		float:				left;
		height:				40px;
		list-style-type:	none;
		width:				20%;
	}
	#nav li a
	{
		border-radius:		4px;
		color:				black;
		display:			block;
		line-height:		40px;
		padding:			0px 58px;
		text-align:			center;
		
		/* Color Transition */
		transition:			.4s;
		-moz-transition:	.4s;
		-webkit-transition:	.4s;
	}	
	#nav li a:hover
	{
		background:			-moz-linear-gradient(top, #90AA44, #9ED474);
		background:			-webkit-linear-gradient(top, #90AA44, #9ED474);
		box-shadow:			0px 1px 1px #000000;			
	}
	#nav .current
	{ 
		background:			-moz-linear-gradient(top, #90AA44, #A5E580);
		background:			-webkit-linear-gradient(top, #90AA44, #A5E580);
		box-shadow:			0px 1px 1px #000000;			
	}
	


/*------------------------------------------------------------------
[Multistepform /]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navigation Steps / #navSteps]
------------------------------------------------------------------*/

#navSteps
{
	background:				-moz-linear-gradient(top, #90AA44, #50A410);
	background:				-webkit-linear-gradient(top, #90AA44, #50A410);
	margin:					20px 0 0 0;	
	padding-top:			10px;
	text-align:				center;
	top:					0;
	width:					100%;
	z-index:				1000;
	
}
	#navSteps li
	{
		display:			inline-block;
		height:				30px;
		list-style-type:	none;
		width:				33%;
		
	}
	#navSteps li a:active
	{ 
		background-color:	black; 
	}
	
#steps{
	display:				inline;
}

#updateForm{
	background-color:		white;
	padding:				20px 0px;
	width:					100%;	
}

#buttonsSteps{
	clear:					both;
	margin-top:				30px;
	position:				relative;
	text-align:				center;
	width:					100%;
}

.imagesSteps{
	width: 					175px;
	opacity:				1;
	
	-webkit-transition: 	opacity 1s ease-out;  	
    -moz-transition: 		width 0.2s ease-out;  
    -o-transition: 			width 0.5s ease-out;  	
    transition: 			opacity 1s ease-out;
   	
}

/*------------------------------------------------------------------
[Buttons / ]
------------------------------------------------------------------*/
.but{
	border-radius: 			2px;	
	background: 			-webkit-linear-gradient(top, #90AA44, #9ED474);
	background: 			-moz-linear-gradient(top, #90AA44, #9ED474);
	box-shadow: 			0 1px 2px rgba(0,0,0,.2);
	border: 				solid 1px #90AA44;
	color:					white;
	font-size:				100%;
	font-weight:			bold;
	height:					30px;
	margin:					10px 0px 10px 0px;
	text-shadow: 			0 1px 1px rgba(0,0,0,.3);
	width:					130px;
}

.but:hover{
	background: 			-webkit-linear-gradient(top, #99BB66, #9ED474);
	background: 			-moz-linear-gradient(top, #99BB66, #9ED474);
}


/*
#imgSun:active, #imgSteering:active, #imgMoon:active, #imgBoot:active{
	Escalar
	-webkit-transform:			scale(1.2, 1.2);
	-o-transform:				scale(1.2, 1.2);
	-moz-transform:				scale(1.2, 1.2);
	transform:					scale(1.2, 1.2);

	
	Transicion
	-webkit-transition: 		all 0.04s ease-out;  	
    -moz-transition: 			all 0.04s ease-out;  
    -o-transition: 				all 0.04s ease-out;  	
    transition: 				all 0.04s ease-out;  	
}
*/

#blockLeft
{
	float: 					left;
}

#blockRight
{
	float: 					right;
}

/*------------------------------------------------------------------
[Login / ]
------------------------------------------------------------------*/

#introPic
{
	border-radius:			6px;
	box-shadow:				0px 3px 3px #000000;
	float: 					left;
	width:					45%;
	margin-top:				60px;
}

#i18n{
	box-shadow:				0px 1px 1px #000000;
	float: 					right;
	padding:				0px 2px;
	text-align:				center;
}

#theLogin
{
	float:					right;
	font-size:				90%;
	height:					440px;
	margin-top:				60px;
	padding-bottom:			20px;	
	text-align:				left;	
	width:					45%;
	clear:					both;
}

.theInputs{
	border:					solid 1px Grey; 	
	height:					25px;
	margin-top:				20px;
	width:					100%;
}	

#butLogin{
	margin-top:				40px;	
}	

/*------------------------------------------------------------------
[Comments]

//FONT FACE
@font-face {
  font-family: 'Alegreya SC';
  src: url('http://fonts.googleapis.com/css?family=Alegreya+SC');
}

//BACKGROUND NAVIGATOR
background-image:		url('backNew.jpg');
background-repeat:		repeat-x;
background-position:	top;

//BACKGROUND NAVIGATOR HOVER
background-color:		#309000;
Rgb(149, 172, 42);
#90AA55

//GRADIENT FOR LINES
background:	 			-webkit-linear-gradient(left, #fff, #000, #fff);
background:	 			-moz-linear-gradient(left, #fff, #000, #fff);

//STYLE FOR CONTENT
background:				#F0F0F0;
box-shadow:				0px 1px 1px #000000;
border:					solid 1px; 
border-radius: 			7px;

//STYLE FOR FOOTER
height:					150px;
position:				absolute;
bottom:					0%;

 
-------------------------------------------------------------------*/


table{
	font-family:					Arial, Helvetica, sans-serif;
	border:							#ccc 1px solid;
	border-spacing: 				0;

	border-radius:					5px;
	-moz-border-radius:				5px;
	-webkit-border-radius:			5px;

	-moz-box-shadow:				0 1px 2px #d1d1d1;
	-webkit-box-shadow: 			0 1px 2px #d1d1d1;
	box-shadow: 					0 1px 2px #d1d1d1;
	
	text-shadow: 					0.05em 0.05em 0em #eee;

	background:						-webkit-linear-gradient(top, #fdfdfd, #fbfbfb);
	background:						-moz-linear-gradient(top,  #fdfdfd,  #fbfbfb);
}

table th{
	background:				-moz-linear-gradient(top, #90AA44, #50A410);
	background:				-webkit-linear-gradient(top, #90AA44, #50A410);
	padding:						20px 25px 25px 25px;
	border-bottom:					1px solid #e0e0e0;
}

table tr:first-child th:first-child {
	-moz-border-top-left-radius:	5px;
	-webkit-border-top-left-radius:	5px;
	border-top-left-radius:			5px;
}

table tr:first-child th:last-child {
	-moz-border-top-right-radius:	5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:		5px;
}

table tr{
	text-align: center;
}

table td:first-child {
	padding-left:20px;
	border-left: 0;
}

table td{
	padding:		10px;
	border-top: 	1px solid #ffffff;
	border-bottom:	1px solid #e0e0e0;
	border-left: 	1px solid #e0e0e0;
}

table tr:nth-child(even){	
	background:		-webkit-linear-gradient(top, #fafafa, #f7f7f7);
	background:		-moz-linear-gradient(top,  #fafafa,  #f7f7f7)
}

table tr:last-child td {
	border-bottom:0;
}

table tr:last-child td:first-child {
	-moz-border-bottom-left-radius:		5px;
	-webkit-border-bottom-left-radius:	5px;
	border-bottom-left-radius:			5px;
}

table tr:last-child td:last-child {
	-moz-border-bottom-right-radius:	5px;
	-webkit-border-bottom-right-radius:	5px;
	border-bottom-right-radius:			5px;
}

table tr:hover td {
	background:		-webkit-linear-gradient(top, #f4f4f4, #f1f1f1);
	background:		-moz-linear-gradient(top,  #f4f4f4,  #f1f1f1);	
}

table img{
	width: 			100px;
	height:			110px;
}


