<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="sharedrides" version="2.5">
        
  <display-name>Shared Rides</display-name>
  
 <!-- Servlets -->   	
   	
   	<servlet>   	
 	<servlet-name>dispatcher</servlet-name>
 		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 		<load-on-startup>1</load-on-startup>
 	</servlet>
	 
 	<servlet-mapping>
 		<servlet-name>dispatcher</servlet-name>
 		<url-pattern>*.do</url-pattern>
 	</servlet-mapping>
 	
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!--         	leandro: /home/leandrobagur/WORKSPACE/ -->
<!--         	santiago:/home/santiago/workspace/ -->
	<context-param> 
    	<description>Directorio donde se almacenan las imagenes</description> 
    	<param-name>img-upload</param-name> 
    	<param-value>/home/leandrobagur/Shared Rides/profilePic/</param-value> 
	</context-param>
	
		<context-param> 
    	<description>Directorio donde se almacenan los gpx</description> 
    	<param-name>gpx-upload</param-name> 
    	<param-value>/home/leandrobagur/Shared Rides/gpxFile/</param-value> 
	</context-param>

</web-app>
