/*------------------------------------------------------------------
[Contact Stylesheet]

Project:      Shared Rides
Last change:  24/08/2014
Assigned to:  Santiago Alurralde (sa)
-------------------------------------------------------------------*/

.text-spaced {
  line-height:  2.5em;
  font-size:    80%;
}

.split {
  display:    inline-block;
  margin-bottom:  2.5em;
  height:     1em
}

input {
	height:					25px;
}

.theInputs {
	border:					solid 1px Grey; 	
	margin-top:				10%;
	width:					90%;
}	

.block-right {
  padding-top:  1%;
  padding-bottom: 1%;
  padding-right:   5%;
  width: 	40%;
}

.block-left {
  padding-top:  		1%;
  padding-bottom: 		1%;
  padding-left: 		9%;  
  width:      			40%;	
}

#thePic {
  width:      150px;
  height:     150px;
  border-radius:  105px;
  display:    block;
  margin:     0 auto;
  box-shadow:	1px 1px 1px Black;
}

.border-light {
	margin-top:   10px;
}

h3 {
	text-transform:  uppercase;
	font-size:		   90%;
}
 