/*------------------------------------------------------------------
[Main Menu Stylesheet]

Project:		Shared Rides
Last change:	19/06/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Multistepform /]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navigation Steps / #navSteps]
------------------------------------------------------------------*/

#navSteps
{
	background:				-moz-linear-gradient(top, #90AA44, #50A410);
	background:				-webkit-linear-gradient(top, #90AA44, #50A410);
	margin:					20px 0 0 0;	
	padding-top:			10px;
	text-align:				center;
	top:					0;
	width:					100%;
	z-index:				1000;
	
}
	#navSteps li
	{
		display:			inline-block;
		height:				30px;
		list-style-type:	none;
		width:				33%;
		
	}
	#navSteps li a:active
	{ 
		background-color:	black; 
	}
	
#steps{
	display:				inline;
}

#updateForm{
	background-color:		white;
	padding:				20px 0px;
	width:					100%;	
}

#buttonsSteps{
	clear:					both;
	margin-top:				30px;
	position:				relative;
	text-align:				center;
	width:					100%;
}

.imagesSteps{
	width: 					175px;
	opacity:				1;
	
	-webkit-transition: 	opacity 0.5s ease-out;  	
    -moz-transition: 		opacity 0.2s ease-out;  
    -o-transition: 			opacity 0.5s ease-out;  	
    transition: 			opacity 0.5s ease-out;
   	
}

/*------------------------------------------------------------------
[Tables / ]
------------------------------------------------------------------*/

.tableUsers th{
	background:							-moz-linear-gradient(top, #90AA44, #50A410);
	background:							-webkit-linear-gradient(top, #90AA44, #50A410);
	padding:							20px 25px 25px 25px;
	border-bottom:						1px solid #e0e0e0;
}

.tableUsers img{					
	width: 								100px;
	height:								110px;
}
