/*------------------------------------------------------------------
[People Stylesheet]

Project:		Shared Rides
Last change:	19/06/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/


/*-----------------------------------------------------------------*/

#listData{
	margin-top: 				10px;
	overflow:					auto;
}

.blockHalf{
	width:						47%;
}

#pending, #offered{
	padding-right:				3%;
}

#associated, #requested{
	padding-left:				3%;
}

#scheduleData{
	display:					none;
	min-height:					175px;
}

.alerts{
	border:					solid #CFCFCF 1px;
	box-shadow:         	0 1px 2px #d1d1d1;
	margin:					0 auto;
	margin-top: 			20px; 	
	width:					60%;
	padding:				3%
}

.alerts img{
	position: 				relative; 
	left: 					55%; 
	width:					55px;
	height: 				50px;
}

.btn{
	font-size:		85%;
	width:			120px;
}



/*------------------------------------------------------------------
[Tables / ]
------------------------------------------------------------------*/

.tableUsers{
	display:					none;
	margin:						0 auto;
	margin-top: 				20px; 
	width:						85%;
}

.tableUsers th{
	background:					-moz-linear-gradient(top, #90AA44, #50A410);
	background:					-webkit-linear-gradient(top, #90AA44, #50A410);
	padding:					10px 10px 10px 10px;
	border-bottom:				1px solid #e0e0e0;
}

.tableUsers td{
	width:						100%;
}

.tableUsers img{					
	width: 						50px;
	height:						50px;
}

.theSchedule{
	margin-top: 				3%;
	
}

/*------------------------------------------------------------------
[Footer / #theFooter]
-------------------------------------------------------------------*/
#theFooter{
	margin-top: 			-1.25em;
}



