/*------------------------------------------------------------------
[People Stylesheet]

Project:		Shared Rides
Last change:	25/08/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/


/*-----------------------------------------------------------------*/

.sr-board{
	width:			94%;
	padding:		2% 3%;	
}

.list-data {
	margin-top:		10px;
	overflow:		auto;
}

.schedule-data {
	display:		none;
	min-height:		175px;
}

.alerts {
	border:			solid #CFCFCF 1px;
	border-radius:	4px;
	box-shadow:     0 1px 2px #D1D1D1;
	margin:			0 auto;
	margin-top: 	20px; 	
	padding:		2%;
	text-align:		center;
	width:			60%;	
}

.alerts img {
	position: 		relative; 
	left: 			25%; 
	height: 		50px;	
	width:			55px;
}

.btn {
	font-size:		85%;
	width:			120px;
}

.btn-pending, .btn-associated{
	float: 			right; 
	vertical-align: top;
}



/*------------------------------------------------------------------
[Tables / ]
------------------------------------------------------------------*/

.sr-table-users {
	display: 		none;
	margin:			0 auto;
	margin-top: 	20px; 
	width: 			85%;
}

.sr-table-users th {
	background:		-moz-linear-gradient(top, #90AA44, #50A410);
	background:		-webkit-linear-gradient(top, #90AA44, #50A410);
	padding:		10px 10px 10px 10px;
	border-bottom:	1px solid #e0e0e0;
}

.sr-table-users td {
	width:			100%;
}

.sr-table-users img {					
	width:			50px;
	height:			50px;
}

.sr-table-users span{
	float: 			left; 
	vertical-align: top;
}

.sr-table-users a{
	float: 			left; 
	margin-right: 	25px;
}

.sr-schedule {
	margin-top:		3%;
}

.sr-schedule img {
	width:			15px;
}

.sr-schedule button {
	margin-left: 	4px;
}

/*------------------------------------------------------------------
[Footer / #theFooter]
-------------------------------------------------------------------*/

.sr-footer {
	margin-top:		-1.25em;
}



