/*------------------------------------------------------------------
[Register Stylesheet]

Project:		Shared Rides
Last change:	19/08/2014
Assigned to:	Santiago Alurralde (sa)
-------------------------------------------------------------------*/

.step {
	margin:			2% auto;
	font-family:	'Raleway', sans-serif;	
	width:			45%;	
}

.step-third { 
	margin-bottom:	1.5%;
	width: 			80%;
}

.split {
	height: 		2.7em;
}

.split.split-table {
	height: 		1.1em;
}

.red {
	color: 			red;
}

.painted {
	box-shadow: 	0 0 5px 0 rgba(179, 0, 0, 1);
}

/*------------------------------------------------------------------
[Starting Conditions]
------------------------------------------------------------------*/

.step-second, .step-third, .btn-back, .btn-OK, .alerts, #applyMapDefinition {
	display: none;
}

/*------------------------------------------------------------------
[Alerts]
------------------------------------------------------------------*/

.alerts { 
	position: 			relative;
	background-color:	#AD2F2F;
	color:				#FFF;
	font-family:		'Raleway', sans-serif;		
	box-shadow:			1.5px 1.5px 1px #000;
	padding: 			2%;
	margin:				-2% auto 4% auto;
	width:				41%;	
}

.alerts:after {
	content: 			'';
	position: 			absolute;
	border-style: 		solid;
	border-width: 		0 9px 13px;
	border-color: 		#AD2F2F transparent;
	display: 			block;
	width: 				0;
	z-index: 			1;
	top: 				-13px;
	left: 				350px;
}

/*------------------------------------------------------------------
[Form Elements]
------------------------------------------------------------------*/

.theInputs {
	font-family: 	'Raleway', sans-serif;	
	height:			25px;
	width:			13em;	
}

input.theInputs{
	border:			solid 1px Grey; 	
}	

#plateNumbers, #plateLetters, #number {
	width: 			4em;
}

#street {
	width: 			8.8em;		
}

#buttonsSteps {
	clear:			both;
	margin-top:		-1em;
	position:		relative;
	text-align:		center;
	width:			100%;
}

/*------------------------------------------------------------------
[Maps]
------------------------------------------------------------------*/

#mapPedestrian, #mapDriver{
	margin-bottom:	30px;
}

/*------------------------------------------------------------------
[Navigation Steps / #navSteps]
------------------------------------------------------------------*/

#navSteps {
	background:		-moz-linear-gradient(top, #90AA44, #50A410);
	background:		-webkit-linear-gradient(top, #90AA44, #50A410);
	margin:			20px 0 0 0;	
	padding-top:	10px;
	text-align:		center;
	top:			0;
	width:			100%;
	z-index:		1000;
}
	#navSteps li {
		display:			inline-block;
		height:				30px;
		list-style-type:	none;
		width:				33%;
		
	}
	#navSteps li a:active { 
		background-color:	black; 
	}

/*------------------------------------------------------------------
[Tables / OVERRIDE]
------------------------------------------------------------------*/

.theSchedule {
	font-size:	85%;
}
	.theSchedule th {
		background:	#EEE
	}

